# Data & models
data/
artifacts/*
!artifacts/
!artifacts/fraud_model.joblib
!artifacts/threshold.joblib

# Python
__pycache__/
*.pyc

# Environments
venv/
.venv/
.env

# Mac
.DS_Store 

.history/        